* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --primary-dark: #17153b;
  --primary-light: #d2c5d8;

  --secondary-dark: #c4bfc6;
  --secondary-light: #736f95;
}
body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  position: relative;
  height: 100vh;
}
[data-theme="light"] body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}
button {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
[data-theme="light"] button {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.stats-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-stats,
.toggle-container span {
  font-size: 1.2rem;
}
.question-div,
.settings-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}
[data-theme="light"] .question-div {
  color: var(--primary-light);
  background-color: var(--primary-dark);
}
[data-theme="light"] .settings-div {
  color: var(--primary-light);
  background-color: var(--primary-dark);
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.toggle {
  font-size: 2rem;
  cursor: pointer;
}

/* -----------------------game main------------------------ */

#game-body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#guessed-num {
  font-size: 5rem;
  color: var(--secondary-dark);
  border-bottom: 10px solid var(--secondary-dark);
}
[data-theme="light"] #guessed-num {
  color: var(--secondary-light);
  border-color: var(--secondary-light);
}
.btn-container {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  margin-bottom: 100px;
}
.game-btn {
  display: inline;
}
.result-div {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
}

/* JS */

#about-game {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 25px 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.75);
  max-width: 500px;
}
[data-theme="light"] #about-game {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
.fa-xmark {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.fa-xmark:hover {
  opacity: 0.9;
}
.hidden {
  display: none;
}

/* ------------footer------------ */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
}
footer div {
  align-items: end;
}
.footer-text,
.shortcuts-container {
  display: flex;
  flex: 1;
  color: var(--secondary-dark);
}
[data-theme="light"] .footer-text {
  color: var(--secondary-light);
}
[data-theme="light"] .shortcuts-container {
  color: var(--secondary-light);
}
.shortcuts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
}
.shortcut span {
  margin-right: 15px;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 2.5px;
}
[data-theme="light"] .shortcut span {
  color: var(--secondary-dark);
  background-color: var(--secondary-light);
}
.mail {
  justify-content: flex-end;
}

/* --------------------settings----------------- */

.settings {
  position: absolute;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.75);
  width: max-content;
  padding-right: 100px;
}
[data-theme="light"] .settings {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings input[type="radio"] {
  margin-right: 10px;
}
.settings-child {
  margin: 15px 0;
}
.settings-child h2 {
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.custom {
  padding-left: 20px;
  padding-top: 10px;
  opacity: 0.5;
  pointer-events: none;
}
.active-custom {
  padding-left: 20px;
  padding-top: 10px;
  opacity: 1;
  pointer-events: all;
}
.customStats-container {
  display: grid;
  grid-template-columns: 120px max-content;
  margin: 5px 0;
}
.customStats-container input {
  width: 4rem;
  height: 1.5rem;
  padding: 3px;
}
.saveChanges-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.save-changes {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: auto;
}
[data-theme="light"] .save-changes {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}
.theme-container {
  display: flex;
  gap: 25px;
}
.default-span {
  color: var(--secondary-light);
}
[data-theme="light"] .default-span {
  color: var(--secondary-dark);
}
